{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h1>Ordinateur Portable</h1>

        <div class="row">
            {% for pc in pcList %}
                <div class="col-6">
                    <div class="card">
                        <div class="media">
                            <img alt="pc" src="{{ asset('uploads/images/' ~ pc.products.image) }}" style="height: 200px">
                            <div class="media-body container" >
                                <h5 class="card-title">
                                    {{ pc.products.prix }}€
                                </h5>
                                <a class="btn btn-primary" href="{{ path('addpanier', {'id' :pc.products.id}) }}">
                                    Ajouter au panier</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}