{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
    <h1>Ajout ou modification d'un pc</h1>

    {{ form_start(PcForm, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(PcForm) }}

    <button type="submit">Envoyer</button>

    {{ form_end(PcForm) }}
    </div>
{% endblock %}