{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">

    <h1>Ajout ou modification d'un livre</h1>

    {{ form_start(livreForm, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(livreForm) }}

    <button type="submit">Envoyer</button>

    {{ form_end(livreForm) }}
    </div>

    {% if app.session.flashBag.has('ajoute') %}
        <div class="alert alert-fail">
            {% for msg in app.session.flashBag.get('ajoute') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}