{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des utilisateurs</h1>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for users in usersList %}
            <tr>
                <td>{{ users.nom }}</td>
                <td>{{ users.prenom }}</td>
                <td><a href="{{ path ('userDetail', {"id":users.id}) }}">détail</a>
                    <a href="">modifier</a>
                    <a href="">supprimer</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}